/***********************************************************************************************/
/*  Responsive/adaptive stuff */
/***********************************************************************************************/
/** 980* 1280 **/
/*grid system*/
.owl-three.owl-theme .owl-dots .owl-dot.active span, .owl-three.owl-theme .owl-dots .owl-dot:hover span {
  background: #338FFA; }

.menu-icon {
  display: none;
  margin-right: 30px;
  cursor: pointer; }
  .menu-icon span {
    display: block;
    height: 2px;
    width: 27px;
    margin-bottom: 5px;
    background: #fff; }
    .menu-icon span:last-child {
      margin-bottom: 0px; }

.visible-phone {
  display: none; }

.nav-close {
  display: none;
  left: -10px;
  position: relative;
  top: -30px;
  cursor: pointer; }
  .nav-close img {
    height: 18px;
    width: auto; }

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1199px) {
  .container {
    max-width: 960px !important; }

  .half-container {
    width: 432px; }

  ul.menu-list li {
    margin-right: 10px; }

  .search-area form {
    margin-right: 10px; }

  .single-prize-row {
    display: flex;
    flex-wrap: wrap; }
    .single-prize-row .grid-col {
      width: calc((100% - ((3 - 1) * 30px)) / 3 );
      margin-right: 30px; }
      .single-prize-row .grid-col:nth-child(3n) {
        margin-right: 0px;
        margin-left: -1px; }

  .prize-content {
    padding: 30px; }
    .prize-content span {
      margin-bottom: 15px; }
    .prize-content.blue-bg {
      top: -25px;
      padding-top: 55px;
      padding-bottom: 55px; }

  .content-area.content-5 h2 {
    font-size: 35px; }
  .content-area.content-5 p {
    font-size: 18px;
    padding-right: 0; }

  .social-content {
    padding: 20px 15px; }
    .social-content p {
      font-size: 17px; }

  .social-content-image {
    width: 40px; }

  .social-content-row {
    display: flex;
    flex-wrap: wrap; }
    .social-content-row .grid-col {
      width: calc((100% - ((3 - 1) * 25px)) / 3 );
      margin-right: 25px; }
      .social-content-row .grid-col:nth-child(3n) {
        margin-right: 0px;
        margin-left: -1px; }

  .counter-content img {
    margin-right: 15px; }

  .review-row {
    display: flex;
    flex-wrap: wrap; }
    .review-row .grid-col {
      width: calc((100% - ((3 - 1) * 35px)) / 3 );
      margin-right: 35px; }
      .review-row .grid-col:nth-child(3n) {
        margin-right: 0px;
        margin-left: -1px; }

  .blog-content a.main-button {
    margin-top: 30px; } }
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 39px; }

  header {
    padding: 30px 31px 25px 32px; }
    header.header-2 ul.menu-list li a {
      color: #338FFA; }
      header.header-2 ul.menu-list li a:hover {
        color: #000; }

  nav {
    margin-left: 0px;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: #fff;
    z-index: 2;
    box-shadow: 0px 0px 20px -12px #29251F;
    padding: 50px 25px 0px;
    transition: all .3s;
    right: -310px; }
    nav.nav-show {
      right: 0; }
    nav ul.list-left {
      display: inline-block; }
      nav ul.list-left li a {
        color: #338FFA;
        margin-bottom: 5px; }
        nav ul.list-left li a:hover {
          color: #338FFA; }

  .nav-close {
    display: block; }

  .menu-icon {
    display: inline-block; }

  .search-area form {
    margin-right: 28px; }

  .banner {
    padding: 155px 0px 315px; }
    .banner a.main-button {
      letter-spacing: .5px; }
    .banner h1 {
      margin-bottom: 11px; }
    .banner p {
      width: 470px;
      margin: 0 auto 27px; }
    .banner a.main-button.white-bg-button {
      margin-right: 15px; }

  .banner-image {
    margin-top: -222px;
    margin-bottom: 100px; }
    .banner-image img {
      max-width: 95%;
      margin: 0 auto; }

  .banner-slider-area {
    padding-bottom: 50px;
    margin-bottom: 60px; }
    .banner-slider-area p span {
      color: #313233;
      font-weight: 600; }
    .banner-slider-area .banner-slider img {
      max-height: 36px; }

  .content.content-image-left-mg {
    margin-right: 35px; }
  .content.phone-image {
    padding: 0; }
    .content.phone-image img {
      width: 90%;
      margin: 0 auto; }
  .content p {
    padding-right: 15px; }

  .slider-two-area p {
    width: 390px; }

  .slider-two-img img {
    border-radius: 0px; }

  .content-area-2.content-area h1 {
    font-size: 37px;
    color: #000000; }

  .content-area-2 .content ul {
    margin-bottom: 55px; }
  .content-area-2 .content img {
    margin-left: -15px; }

  .content-two-row, .review-row, .single-prize-row, .social-content-row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    .content-two-row .grid-col, .review-row .grid-col, .single-prize-row .grid-col, .social-content-row .grid-col {
      width: calc((100% - ((1 - 1) * 0px)) / 1 );
      margin-right: 0px; }
      .content-two-row .grid-col:nth-child(1n), .review-row .grid-col:nth-child(1n), .single-prize-row .grid-col:nth-child(1n), .social-content-row .grid-col:nth-child(1n) {
        margin-right: 0px;
        margin-left: -1px; }
    .content-two-row .grid-col, .review-row .grid-col, .single-prize-row .grid-col, .social-content-row .grid-col {
      margin-bottom: 48px;
      width: 522px; }

  .content-two {
    padding: 80px 29px 35px; }

  .content-area-3 a.main-button {
    margin-top: 0; }

  .review-area {
    padding: 90px 0px 40px; }

  .review-row .grid-col {
    margin-bottom: 38px; }

  .single-prize-row .grid-col {
    margin-bottom: 60px; }

  .prizing-headeing {
    margin-bottom: 50px; }
    .prizing-headeing p {
      width: 505px; }

  .prizing-area {
    padding: 85px 0px 30px; }

  .prize-content.blue-bg {
    top: 0; }

  .social-content-row .grid-col {
    margin-bottom: 20px; }

  .counter-area {
    padding-bottom: 25px; }

  .counter-content {
    margin-bottom: 40px; }
    .counter-content span {
      font-size: 40px; }
    .counter-content img {
      margin-right: 30px; }

  .half-container {
    width: 325px; }

  .content-area.content-5 {
    padding: 60px 0px 60px 0px; }
    .content-area.content-5 p {
      font-size: 19px; }
    .content-area.content-5 h2 {
      font-size: 36px; }

  .footer-top {
    align-items: center; }

  .footer-menu {
    width: 35%;
    flex-wrap: wrap; } }
/* Tablet Portrait size to standard 960 (devices and browsers)  800*1280 , 768*1024 */
/* All Mobile Sizes (devices and browser) 360*640 */
@media only screen and (max-width: 767px) {
  /*variable call*/
  h1 {
    font-size: 36px; }

  h2 {
    font-size: 25px; }

  h3 {
    font-size: 27px;
    line-height: 1.6; }

  h4 {
    font-size: 18px;
    line-height: 1.5; }

  h6 {
    font-size: 16px; }

  nav {
    width: 200px; }

  .search-area form {
    display: none; }

  .banner {
    padding: 155px 0px 250px; }
    .banner h1 {
      line-height: 1.4;
      width: 90%;
      margin: 0 auto 11px;
      font-size: 30px; }

  .banner-image {
    margin-top: -151px;
    margin-bottom: 60px; }
    .banner-image img {
      max-width: 77%; }

  .content.content-top-text {
    margin-bottom: 50px; }
  .content.content-image-left-mg {
    margin-right: 0;
    margin-bottom: 50px; }

  .content-area .align-center {
    justify-content: center; }

  .slider-two-area h3 {
    width: 420px; }

  .slider-two-img {
    margin: 0px 25px; }
    .slider-two-img img {
      border-radius: 10px; }

  .content-area-2.content-area h1 {
    font-size: 29px; }

  .content-two-heading h3 {
    width: 401px; }

  .half-container {
    margin-bottom: 50px;
    width: 450px; }

  .content-area.content-5 h2 {
    font-size: 28px; }

  .blog-area {
    padding: 45px 0px;
    margin-bottom: 0; }

  .social-content-area {
    padding-bottom: 15px; }

  .content-area {
    margin-bottom: 26px; }

  .visible-phone {
    display: block; }

  .hide-phone {
    display: none; }

  .footer-logo {
    margin-bottom: 50px; }

  .footer-top {
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 0px;
    padding: 25px 0px 20px; }
    .footer-top a.footer-logo img {
      max-height: 40px;
      height: auto; }

  .footer-menu {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px; }

  .footer-bottom p {
    margin-bottom: 20px; }
    .footer-bottom p.right {
      text-align: left;
      margin: 0; }

  .content-two-row .grid-col, .review-row .grid-col, .single-prize-row .grid-col, .social-content-row .grid-col {
    width: 440px; }

  .content-5-row {
    display: flex;
    flex-wrap: wrap; }
    .content-5-row .grid-col {
      width: calc((100% - ((1 - 1) * 0px)) / 1 );
      margin-right: 0px; }
      .content-5-row .grid-col:nth-child(1n) {
        margin-right: 0px;
        margin-left: -1px; } }
@media only screen and (max-width: 575px) {
  .search-area a.main-button {
    display: none; }

  header {
    padding: 13px 15px 15px; }
    header.header-2 {
      padding: 13px 15px 15px; }

  .menu-icon {
    margin-right: 0; }

  .banner {
    padding: 115px 0px 160px; }
    .banner p {
      width: auto; }
    .banner a.main-button.white-bg-button {
      margin-bottom: 20px;
      margin-right: 0; }

  .banner-slider-area {
    padding-bottom: 45px;
    margin-bottom: 45px; }

  .content-area.border-bottom {
    padding-bottom: 16px; }
  .content-area.extra-class-1 {
    margin: 50px auto; }

  .banner-image {
    margin-top: -110px; }
    .banner-image img {
      max-width: 85%; }

  .slider-text {
    margin-bottom: 38px;
    padding: 0px 15px; }

  .slider-two-area {
    padding: 58px 0px 45px; }
    .slider-two-area h3, .slider-two-area p {
      width: auto; }

  .content-area-2 .content p {
    padding-right: 0; }
  .content-area-2 .content ul li {
    margin-right: 20px; }
    .content-area-2 .content ul li a {
      color: #338FFA;
      font-size: 25px; }
  .content-area-2.content-area {
    margin-bottom: 40px;
    padding-top: 63px; }

  .content-two {
    padding: 45px 15px 35px; }

  .content-two-row .grid-col, .review-row .grid-col, .single-prize-row .grid-col, .social-content-row .grid-col {
    margin-bottom: 30px; }

  .content-area-2 .content ul li a {
    color: #338FFA;
    font-size: 25px; }

  .content-two-heading h3 {
    width: auto; }

  .content-right-col h3 {
    margin-bottom: 30px; }

  .content.phone-image {
    margin-bottom: 10px;
    margin-top: 30px; }

  .content-right-col h6 {
    margin-bottom: 10px; }
  .content-right-col p {
    margin-bottom: 27px; }

  .content-area-4.content-area.border-bottom {
    padding-bottom: 50px; }

  .counter-area {
    padding-bottom: 5px; }

  .counter-content img {
    margin-right: 13px;
    max-height: 24px;
    position: relative;
    top: -4px; }
  .counter-content span {
    font-size: 32px; }
  .counter-content p {
    font-size: 12px; }

  .review-area {
    padding: 55px 0px 15px; }

  .blog-heading p {
    width: auto; }

  .prizing-area {
    padding: 50px 0px 30px; }

  .prizing-headeing {
    margin-bottom: 35px; }
    .prizing-headeing p {
      width: auto; }

  .half-container {
    width: 100%;
    padding: 0px 15px; }

  .content-area.content-5 img {
    padding: 0px 15px; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 320*480  */

/*# sourceMappingURL=responsive.css.map */
